.arrowLeft {
    object-fit:contain;
    flex: 20%;
    height: 100%;
    place-items: center;
    margin-left:1em;
}

.arrowRight {
    object-fit:contain;
    flex: 20%;
    height: 100%;
    place-items: right;
    margin-left:12em;
}

.arrowLeft:hover {
    cursor:pointer;
}

.arrowRight:hover {
    cursor:pointer;
}

.carousel {
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content:center;
    border-radius:50px;
}